# Are people a good judge of their own sleep and health?
***

# Set Up
## Imports

In [1]:
import pandas as pd

## Parameters

In [2]:
_2008_POLLDATASET = '../data_file/raw_data_csv/2008SleepinAmericaPollSleepPerformanceandWorkplaceRawDataExcel.csv'

In [3]:
_2008_POLLDATASET

'../data_file/raw_data_csv/2008SleepinAmericaPollSleepPerformanceandWorkplaceRawDataExcel.csv'

## Loading Raw Dataset

In [4]:
_2008_poll = pd.read_csv(_2008_POLLDATASET)
_2008_poll.shape

(1000, 217)

In [5]:
_2008_poll.head(10)

,caseid,year,response,intvwr,market,region,tz,state,fips,dma,...,d3,d4a,d4b,d4c,d4d,d4e,d5,d6,d7,d8
0,7,2007,200709,951,ne_1,1,E,NH,33003,500,...,4,2,NaN,NaN,NaN,NaN,3,5,2,4
1,11,2007,200709,650,south_1,3,E,TN,47093,557,...,2,2,NaN,NaN,NaN,NaN,3,4,1,4
2,13,2007,200709,951,mw_1,2,E,OH,39135,542,...,1,1,1.0,2.0,1.0,2.0,3,5,1,6
3,14,2007,200709,969,mw_1,2,E,MI,26069,513,...,1,2,NaN,NaN,NaN,NaN,3,5,1,4
4,15,2007,200709,928,south_1,3,E,SC,45083,567,...,1,1,1.0,1.0,2.0,2.0,5,6,1,6
5,16,2007,200709,650,ne_1,1,E,CT,9007,533,...,1,1,1.0,1.0,2.0,2.0,4,5,1,7
6,20,2007,200709,969,south_1,3,M,TX,48141,765,...,1,1,2.0,1.0,2.0,2.0,3,7,1,7
7,22,2007,200709,951,ne_1,1,E,NH,33015,506,...,1,2,NaN,NaN,NaN,NaN,5,7,2,5
8,26,2007,200709,951,south_1,3,E,GA,13245,520,...,4,2,NaN,NaN,NaN,NaN,3,5,2,5
9,31,2007,200710,650,south_1,3,E,TN,47065,575,...,1,1,2.0,2.0,2.0,1.0,3,6,1,5

In [6]:
_2008_poll.columns.values

array(['caseid', 'year', 'response', 'intvwr', 'market', 'region', 'tz',
       'state', 'fips', 'dma', 'division', 'rep', 'qs1', 'qs1a', 'qs2',
       'qs2a', 'qs3', 'd9', 'q1', 'Q1VALUE', 'Q4VALUE', 'Q1Q4DIF',
       'Q1Q4DIFHRS', 'insert1', 'insert2', 'q2', 'q3', 'q4', 'Q4Q3DIF',
       'Q4Q3DIFHRS', 'Q4VALUE2', 'Q3VALUE', 'Q2VALUE', 'Q1VALUE2',
       'Q2Q1DIF', 'Q2Q1DIFHRS', 'Q3Q2DIF', 'Q3Q2DIFHRS', 'q5', 'q6',
       'Q5VALUE', 'Q6VALUE', 'Q5Q6DIF', 'Q5Q6DIFHRS', 'Q5Q6Q1Q4DIFHRS',
       'Q5Q6Q1Q4pos', 'q7h', 'q7m', 'q8', 'q7', 'Q8Q7DIF', 'Q8Q7pos',
       'q8h', 'q8m', 'q9', 'q10', 'q11', 'q12', 'q1301', 'q1302', 'q1303',
       'q1304', 'q1305', 'q1306', 'q1307', 'q1308', 'q1309', 'q1310',
       'q14h', 'q14m', 'q14', 'insert3', 'q15', 'q15a', 'q16a', 'q16b',
       'q17a', 'q17b', 'q17c', 'q17d', 'q17e', 'q17f', 'q17g', 'q17h',
       'q17i', 'q17j', 'q17k', 'q18a', 'q18b', 'q18c', 'q18d', 'q18e',
       'q19', 'q20', 'q20a01', 'q20a02', 'q20a03', 'q20a04', 'q20a05',
       'q20a06', 'q20a07', 'q21', 'q22', 'q23', 'q2401', 'q2402', 'q2403',
       'q2404', 'q2405', 'q24aa', 'q24ab', 'q24ac', 'q24ad', 'q25a',
       'q25b', 'q25c', 'q25d', 'q25e', 'q25f', 'q26f', 'q26i', 'q26',
       'q27', 'bmi', 'q28a', 'q28b', 'q28c', 'q28d', 'q28e', 'q28f',
       'q28g', 'MEDCOND', 'q29', 'q30a', 'q30b', 'q30c', 'q30d', 'q30e',
       'q30f', 'q30g', 'q30h', 'ESSQ30A', 'ESSQ30B', 'ESSQ30C', 'ESSQ30D',
       'ESSQ30E', 'ESSQ30F', 'ESSQ30G', 'ESSQ30H', 'ESSQ30TOT', 'q31',
       'q32h', 'q32m', 'q32', 'q33a', 'q33b', 'q33c', 'q33d', 'q33e',
       'q33f', 'q33g', 'q33h', 'q34', 'q35', 'q36', 'q37a', 'q37b',
       'q37c', 'q37d', 'q37e', 'q37f', 'q37g', 'q38', 'q39a', 'q39b',
       'q39c', 'q39d', 'q39_a', 'q39_b', 'q39_c', 'q39_d', 'q40', 'q41',
       'q42a', 'q42b', 'q43', 'q44a', 'q44b', 'q44c', 'q44d', 'q44e',
       'q44f', 'q44g', 'q44h', 'q45a', 'q45b', 'q45c', 'q45d', 'q45aa',
       'q45ca', 'q46', 'q47', 'd101', 'd102', 'd103', 'd104', 'd2', 'd3',
       'd4a', 'd4b', 'd4c', 'd4d', 'd4e', 'd5', 'd6', 'd7', 'd8'],
      dtype=object)

In [7]:
_2008_poll=_2008_poll.drop(labels=['response','intvwr','market','tz','fips',
                 'dma','division','rep','qs1a','qs2a',
                 'Q1VALUE','Q4VALUE','Q1Q4DIF','Q1Q4DIFHRS','insert1',
                 'insert2','Q4Q3DIF','Q4Q3DIFHRS','Q4VALUE2','Q1VALUE2',
                 'Q2Q1DIF','Q2Q1DIFHRS','Q3Q2DIF','Q3Q2DIFHRS','Q5VALUE',
                 'Q6VALUE','Q5Q6DIF','Q5Q6DIFHRS','Q5Q6Q1Q4DIFHRS','Q5Q6Q1Q4pos',
                 'Q8Q7DIF','Q8Q7pos','q1301','q1302','q1303','q1304',
                 'q1305','q1306','q1307','q1308','q1309',
                 'q1310','q14h','q14m','insert3','q15',
                 'q16a','q16b','q17a','q17b','q17c','q17d',
                 'q17e','q17f','q17g','q17h','q17i',
                 'q17j','q17k','q19','q20a01','q20a02',
                 'q20a03','q20a04','q20a05','q20a06','q20a07',
                 'q23','q2402','q2403','q2404','q2405',
                 'q24aa','q24ab','q24ac','q24ad','q25f',
                 'MEDCOND','ESSQ30A','ESSQ30B','ESSQ30C','ESSQ30D',
                 'ESSQ30E','ESSQ30F','ESSQ30G','ESSQ30H','ESSQ30TOT',
                 'q32h','q32m','q37b','q37f','q37g',
                 'q38','q39a','q39b','q39c','q39d',
                 'q45a','q45b','q45c','q45d','d102',
                 'd103','d104'], axis=1)

In [8]:
_2008_poll.columns.values

array(['caseid', 'year', 'region', 'state', 'qs1', 'qs2', 'qs3', 'd9',
       'q1', 'q2', 'q3', 'q4', 'Q3VALUE', 'Q2VALUE', 'q5', 'q6', 'q7h',
       'q7m', 'q8', 'q7', 'q8h', 'q8m', 'q9', 'q10', 'q11', 'q12', 'q14',
       'q15a', 'q18a', 'q18b', 'q18c', 'q18d', 'q18e', 'q20', 'q21',
       'q22', 'q2401', 'q25a', 'q25b', 'q25c', 'q25d', 'q25e', 'q26f',
       'q26i', 'q26', 'q27', 'bmi', 'q28a', 'q28b', 'q28c', 'q28d',
       'q28e', 'q28f', 'q28g', 'q29', 'q30a', 'q30b', 'q30c', 'q30d',
       'q30e', 'q30f', 'q30g', 'q30h', 'q31', 'q32', 'q33a', 'q33b',
       'q33c', 'q33d', 'q33e', 'q33f', 'q33g', 'q33h', 'q34', 'q35',
       'q36', 'q37a', 'q37c', 'q37d', 'q37e', 'q39_a', 'q39_b', 'q39_c',
       'q39_d', 'q40', 'q41', 'q42a', 'q42b', 'q43', 'q44a', 'q44b',
       'q44c', 'q44d', 'q44e', 'q44f', 'q44g', 'q44h', 'q45aa', 'q45ca',
       'q46', 'q47', 'd101', 'd2', 'd3', 'd4a', 'd4b', 'd4c', 'd4d',
       'd4e', 'd5', 'd6', 'd7', 'd8'], dtype=object)

In [9]:
_2008_poll.rename(columns = {'caseid':'id','qs1':'over18',
                            'qs2':'employment_status', 'qs3':'work_hours', 'd9':'gender','q1':'wake_up_weekdays', 'q2':'start_work_time', 
                            'q3':'end_work_time', 'q4':'bed_time_weekdays', 'Q3VALUE':'end_work_time_value', 'Q2VALUE':'start_work_time_value', 'q5':'wake_up_weekends',
                            'q6':'bed_time_weekends', 'q7h':'hours_sleep_weekday','q7m':'mins_sleep_weekday', 'q8':'total_hours_sleep_weekday', 'q7':'total_hours_sleep_weekend',
                            'q8h':'hours_sleep_weekend', 'q8m':'mins_sleep_weekend', 'q9':'naps', 'q10':'naps_mins', 'q11':'work_from_home_outside', 
                            'q12':'work_number_days', 'q14':'commute_length', 'q15a':'work_related_activities_time',
                            'q18a':'difficulty_falling_asleep_often', 'q18b':'awake_alot_often', 'q18c':'woke_too_early_often', 'q18d':'unrefreshed_often','q18e':'snore_often', 
                            'q20':'fall_asleep_mins', 'q21':'good_rest_often', 'q22':'tingly_legs_often', 'q2401':'sleep_disorder', 'q25a':'sleep_apnea',
                            'q25b':'restless_leg_syndrome', 'q25c':'insomnia','q25d':'shift_work_disorder', 'q25e':'alcohol_sleep_often', 'q26f':'height(feet)', 
                            'q26i':'height(inches)', 'q26':'total_height_inches', 'q27':'weight(lbs)',  'q28a':'heart_condition',
                            'q28b':'blood_pressure_condition', 'q28c':'diabetes_condition', 'q28d':'heartburn_condition', 'q28e':'arthritis_condition', 'q28f':'depression_condition', 
                            'q28g':'anxiety_condition', 'q29':'caffeine_a_day', 'q30a':'read_doze_chance','q30b':'tv_doze_chance', 'q30c':'sitting_doze_chance',
                            'q30d':'car_traffic_doze_chance', 'q30e':'passenger_doze_chance', 'q30f':'chatting_doze_chance', 'q30g':'after_lunch_no_aclohol__doze_chance', 'q30h':'lying_down_doze_chance', 
                            'q31':'sleepiness_interfer_activities','q32':'minimum_sleep_opinion', 'q33a':'nap_likely_when_tired', 'q33b':'alert_med_likely_when_tired', 'q33c':'accept_likely_when_tired',
                            'q33d':'bed_early_likely_when_tired', 'q33e':'more_sleep_weekend_likely_when_tired', 'q33f':'caffeine_likely_when_tired', 'q33g':'high_carb_likely_when_tired','q33h':'exercise_likely_when_tired', 
                            'q34':'drive_tired_last_year', 'q35':'asleep_while_driving', 'q36':'accident_last_year', 'q37a':'tired_communting_work', 'q37c':'tired_during_work',
                            'q37d':'tired_business_trip', 'q37e':'tired_children_car','q39_a':'late_to_work', 'q39_b':'not_go_work', 'q39_c':'leave_work_early', 
                            'q39_d':'fall_asleep_while_at_work', 'q40':'schedule_allows_enough_sleep', 'q41':'nap_at_work', 'q42a':'work_allow_naps', 'q42b':'work_provide_nap_space',
                            'q43':'would_nap_at_work', 'q44a':'concentrate_hard_work_often', 'q44b':'organising_hard_work_often', 'q44c':'impatient_work_often', 'q44d':'avoid_interations_work_often', 
                            'q44e':'bored_work_often', 'q44f':'redo_job_work_often', 'q44g':'productivity_work_often','q44h':'unfinished_tasks_work_often', 'q45aa':'injured_yourself_other_work', 
                            'q45ca':'serious_accident_work', 'q46':'missed_activities_too_sleepy', 'q47':'sex_affected_too_sleepy', 'd101':'race', 'd2':'age',
                            'd3':'marital_status', 'd4a':'children_>18','d4b':'children_13-17', 'd4c':'children_6-12', 'd4d':'children_5-2',
                            'd4e':'children<2', 'd5':'heatlh_rating', 'd6':'education_level', 'd7':'dual_single_income', 'd8':'annual_household_income'}, inplace = True)

In [10]:
_2008_poll.columns.values

array(['id', 'year', 'region', 'state', 'over18', 'employment_status',
       'work_hours', 'gender', 'wake_up_weekdays', 'start_work_time',
       'end_work_time', 'bed_time_weekdays', 'end_work_time_value',
       'start_work_time_value', 'wake_up_weekends', 'bed_time_weekends',
       'hours_sleep_weekday', 'mins_sleep_weekday',
       'total_hours_sleep_weekday', 'total_hours_sleep_weekend',
       'hours_sleep_weekend', 'mins_sleep_weekend', 'naps', 'naps_mins',
       'work_from_home_outside', 'work_number_days', 'commute_length',
       'work_related_activities_time', 'difficulty_falling_asleep_often',
       'awake_alot_often', 'woke_too_early_often', 'unrefreshed_often',
       'snore_often', 'fall_asleep_mins', 'good_rest_often',
       'tingly_legs_often', 'sleep_disorder', 'sleep_apnea',
       'restless_leg_syndrome', 'insomnia', 'shift_work_disorder',
       'alcohol_sleep_often', 'height(feet)', 'height(inches)',
       'total_height_inches', 'weight(lbs)', 'bmi', 'heart_condition',
       'blood_pressure_condition', 'diabetes_condition',
       'heartburn_condition', 'arthritis_condition',
       'depression_condition', 'anxiety_condition', 'caffeine_a_day',
       'read_doze_chance', 'tv_doze_chance', 'sitting_doze_chance',
       'car_traffic_doze_chance', 'passenger_doze_chance',
       'chatting_doze_chance', 'after_lunch_no_aclohol__doze_chance',
       'lying_down_doze_chance', 'sleepiness_interfer_activities',
       'minimum_sleep_opinion', 'nap_likely_when_tired',
       'alert_med_likely_when_tired', 'accept_likely_when_tired',
       'bed_early_likely_when_tired',
       'more_sleep_weekend_likely_when_tired',
       'caffeine_likely_when_tired', 'high_carb_likely_when_tired',
       'exercise_likely_when_tired', 'drive_tired_last_year',
       'asleep_while_driving', 'accident_last_year',
       'tired_communting_work', 'tired_during_work',
       'tired_business_trip', 'tired_children_car', 'late_to_work',
       'not_go_work', 'leave_work_early', 'fall_asleep_while_at_work',
       'schedule_allows_enough_sleep', 'nap_at_work', 'work_allow_naps',
       'work_provide_nap_space', 'would_nap_at_work',
       'concentrate_hard_work_often', 'organising_hard_work_often',
       'impatient_work_often', 'avoid_interations_work_often',
       'bored_work_often', 'redo_job_work_often',
       'productivity_work_often', 'unfinished_tasks_work_often',
       'injured_yourself_other_work', 'serious_accident_work',
       'missed_activities_too_sleepy', 'sex_affected_too_sleepy', 'race',
       'age', 'marital_status', 'children_>18', 'children_13-17',
       'children_6-12', 'children_5-2', 'children<2', 'heatlh_rating',
       'education_level', 'dual_single_income', 'annual_household_income'],
      dtype=object)

In [11]:
_2008_poll.head(10)

,id,year,region,state,over18,employment_status,work_hours,gender,wake_up_weekdays,start_work_time,...,marital_status,children_>18,children_13-17,children_6-12,children_5-2,children<2,heatlh_rating,education_level,dual_single_income,annual_household_income
0,7,2007,1,NH,1,1,32,2,11,19,...,4,2,NaN,NaN,NaN,NaN,3,5,2,4
1,11,2007,3,TN,1,2,35,2,3,11,...,2,2,NaN,NaN,NaN,NaN,3,4,1,4
2,13,2007,2,OH,1,2,65,1,2,3,...,1,1,1.0,2.0,1.0,2.0,3,5,1,6
3,14,2007,2,MI,1,2,32,2,6,11,...,1,2,NaN,NaN,NaN,NaN,3,5,1,4
4,15,2007,3,SC,1,2,40,2,2,17,...,1,1,1.0,1.0,2.0,2.0,5,6,1,6
5,16,2007,1,CT,1,2,33,1,2,3,...,1,1,1.0,1.0,2.0,2.0,4,5,1,7
6,20,2007,3,TX,1,2,55,2,10,15,...,1,1,2.0,1.0,2.0,2.0,3,7,1,7
7,22,2007,1,NH,1,2,40,1,3,13,...,1,2,NaN,NaN,NaN,NaN,5,7,2,5
8,26,2007,3,GA,1,2,40,2,2,7,...,4,2,NaN,NaN,NaN,NaN,3,5,2,5
9,31,2007,3,TN,1,2,41,1,11,17,...,1,1,2.0,2.0,2.0,1.0,3,6,1,5

## Save Data

In [12]:
_2008_poll.to_pickle('../data_file/cleaned_data_pickle/2008_poll_df.pickle')

In [13]:
_2008_poll.to_csv(r'../data_file/cleaned_data_csv/clean_2008_POLLDATASET.csv', index = False)